# OS
.DS_Store

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/

# Editor
*.swp
tags
.vscode/
.idea/

# Node
node_modules/

# Environment
.env
.env.*

# Logs
*.log

# Frappe / Bench (important)
sites/
assets/
logs/